/* Add your custom styles here */
body {
    background-color: #f8f9fa;
    font-family: jost, sans-serif;
}

.container-fluid {
    background-color: #f7f7f7;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.container {
    width: 100% !important;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    margin-top: 70px;
}


.card {
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
/* Stylize the QR code and barcode */
#output {
    text-align: center;
    margin-top: 20px;
}

/* Add spacing between QR code and barcode */
#output canvas {
    margin: 20px auto; /* Adjust the margin to your preference */
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}