/* Add your custom styles here */
body {
    background-color: #f0f0f0;
    font-family: jost, sans-serif;
}

.container-fluid {
    background-color: #f7f7f7;
    padding: 20px 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    padding: 0 10px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#output {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stylize the QR code and barcode */
#output canvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
